<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<form action="/register" method="post">
<label>UserName :</label>
<input type="text" name="username">
<br/><br/>
<label>Email Id :</label>

<input type="email" name="email">
<br /><br/>
<label>Password :</label>
<input type="password" name="password">
<br /><br/>
<label>Gender:</label>
 <input type="radio" id="Male" name="gender" value="M">
  <label for="html">Male</label>
 <input type="radio" id="Female" name="gender" value="F">
  <label for="html">Female</label>
 <input type="radio" id="Other" name="gender" value="O">
  <label for="html">Other</label>
<br /><br/>

<label>Role:</label>
 <input type="radio" id="Admin" name="role" value="admin">
  <label for="Admin">Admin</label>
 <input type="radio" id="User" name="role" value="customer">
  <label for="Customer">Customer</label>
<br/><br/>
<label>Address:</label>
<textarea name="address"></textarea>
<br/><br/>

<input type="Submit" value="REGISTER">
<br/><br/>
</form>


</body>
</html>